<div class="tab-pane" id="myPosts">


  <% @forums.each do |forum| %>
  
  <div class="container feed normal">

    <h1 class="articleTitle"><%= forum.title %></h1>
    <p class='datePosted'><span class='text-muted'></span></p>
    <h2 class='content text-info'><%= forum.content %></h2>
    <section class='feedback'>
      <div class='starRatingsGot'>
               <%=rated_or_not(forum.id)%>
       
      </div>
      <div class="form-group feedback">
        <label for="comment" class='comment'>Feedback:</label>
        <ul>
          <%forum.feedback.each do |feed|%>
            <li><p><%=feed.comment%></p></li>
          <%end%>
          <ul>

          </div>

        </section>
      </div>
      <% end %>

      
